*{
    margin: 0;
    padding: 0;
}

html, body{ 
    height: 100%;
    overflow-x: hidden
}

a{

    text-decoration: none;
    transition: 0.3s;
    color: white;
}

a:hover{
    border-bottom: solid 1px white;
    border-top: solid 1px white;
    color: white;
    opacity: 0.8;
}

#title{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: white;
    margin-bottom: 0;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 11vh;
    border-bottom: solid white 1px;
    background-color: black;
    text-transform: uppercase;
}

.nav-list{
    list-style: none;
    display: flex;
    margin-bottom: 0;
}

.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
}

h2{
    margin-top: 20px;
    text-align: center;
    font-size: 60px;
    font-size: 50px;
}

.divform{
    margin: auto;
}

#name-error{
    display: none;
  }
  
#artist-error{
    display: none;
}
  
#url-error{
    display: none;
}
  
#description-error{
    display: none;
}

#date-error{
    display: none;
}

.divInput{
    width: 42%;
    margin: 0 auto;

    

}

.dInput{
    display: inline-block;
    margin: 10px 10px;
}

#footer_museum{

    background-color: black;
    text-align: center;
    color: #FFF;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    position: fixed;
    bottom: 0;
    width: 100%;
}


#footer_museum p{
    margin-bottom: 0;
    text-transform: uppercase;
}
