*{
    margin: 0;
    padding: 0;
}

a{

    text-decoration: none;
    transition: 0.3s;
    color: white;
}

a:hover{
    border-bottom: solid 1px white;
    border-top: solid 1px white;
    color: white;
    opacity: 0.8;
}

#title{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: white;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15vh;
    padding-top: 20px;
    border-bottom: solid white 1px;
    background-color: black;
    text-transform: uppercase;
}

.nav-list{
    list-style: none;
    display: flex;

}

.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
}